.jumbotron {
    background-color: rgb(237, 213, 158);
align-content: center;
    background-size: cover;

}
body {
  background-color: rgb(223, 223, 223);
}
button {
    background-color: rgb(151, 148, 152);


}
